/* Importing google font */
@import url();

/* add bordersizing to inital page*/
*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables for colors, gradient, box-shadow for webpage*/
:root {
    -clr--primary--color:#a7ee9e;
    -clr--secondary--color: ;
    -clr--box-shadow: ;
}

/* Removing list style from navigation list*/
nav li {
    list-style: none;
}

/* Changing navigation*/
nav ul {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
